# dependencies (bun install)
node_modules

# build output
out
dist
build
.output
*.tgz

# task runner / tooling caches
.vite-plus
.cache
*.tsbuildinfo

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv environment variable files
.env
.env.*
!.env.example

# editors
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Finder (macOS) folder config
.DS_Store
